* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: #323433;
  color: white;
  font-family: "Roboto", "Segoe UI", sans-serif;
  align-items: center;
  justify-content: space-around;
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
